[Unit]
Description=RustCom Daemon
After=network.target

[Service]
ExecStart=/home/dmitriy/projects/simhttp/simhttp
Type=simple
ExecStop=ps aux | grep -i /home/dmitriy/projects/simhttp/simhttp | awk {'print$2'} | xargs kill >/dev/null 2>&1
ExecReload=ps aux | grep -i /home/dmitriy/projects/simhttp/simhttp | awk {'print$2'} | xargs kill >/dev/null 2>&1 && /home/dmitriy/projects/simhttp/simhttp
User=dmitriy
Group=dmitriy
WorkingDirectory=/home/dmitriy/projects/simhttp

[Install]
WantedBy=multi-user.target