[Unit]
Description=RustCom Daemon
After=network.target

[Service]
ExecStart=/home/root2/.rustcom/bin/simhttp
Type=simple
ExecStop=ps aux | grep -i /home/root2/.rustcom/bin/simhttp | awk {'print$2'} | xargs kill >/dev/null 2>&1
ExecReload=ps aux | grep -i /home/root2/.rustcom/bin/simhttp | awk {'print$2'} | xargs kill >/dev/null 2>&1 && /home/root2/.rustcom/bin/simhttp
User=root2
Group=admin

[Install]
WantedBy=multi-user.target